page-home {
    padding: 0px;
    margin:0px;
}
.slides{
    height: 162.86px;
}
.icons ion-col{
    font-family: 'STHeitiSC Light';
    width: 189px;
    height: 100px;
    text-align: center;
    padding-top: 18px;
}
.icons ion-col img{
    width:22px ;
    height:22px ;

}
.iconsub{
    border-top: #f9f9f9 solid 10px;
    width: 100%;
}
.iconsub img{
    width: 21px;
    height: 18px;
}
.iconsub span{
    font-size: 20px
}
.list p span{
    color: black;
}
// .ion-logo-tux:before{
//     font-size: 60px !important;
//     margin-left: 20px;
// }
// .ion-logo-tux::after{
//     content: '  Q Q',
   
// }
// .content content-ios{
//     background-image:'qqImg.png';
//     background-repeat: repeat;
// }