page-detail {

}
.detail{
    background-color: #eeeeee !important;
}
.contactone{
    width: 35px;
    height: 34px;
}
.contacttwo{
    width:206px;
    height: 42px;
}
ion-footer{

  height: 45px;
}
ion-footer img{
    width: 31px;
    height: 30px;


}
ion-footer input{
    color: #999999;
    border: 0px;
    margin-left: 15px;
    font-size: 18px;
    margin-right: 38px;
  
}
