ul,li{
    list-style: none;
}
li{
    width: 40%;
    font-size: 30px;
    float: left;
    margin: 2%;
    height: 150px;
    
}
li img{
    width: 160px;
    height: 220px;
}
li p{
    width: 20px;
    height: 10px;
}