.releasr-content{
    text-align: center;
}
page-releasetype {
    background: #f9f9f9;
}
ion-content img{
    width: 25px;
    height: 25px;
}
// header
.release-header{
    text-align: left;
    background:#fedb47;
    font-size: 18px;
}
.release-icon{
    float: left;
    padding-left:12px;
}
// content
.release-col{
    background:#fff;
    width:103px;
    height: 97px;
    margin:0 12px;
}
.first-row{
    margin:32px 10px 0 10px;
}
.release-row{
    margin:20px 10px 0 10px;
}